<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h2 class='centrado'>Datos Generales</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class='boton_activo'>
                        <a [routerLink]="['../establecimientos']" class="menuPrincipalLink"><i class="fas fa-arrow-circle-right"></i>&nbsp;&nbsp;Mantenimiento de Establecimientos</a></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h3 class='boton_activo'>
                        <a [routerLink]="['../contadores']" class="menuPrincipalLink"><i class="fas fa-arrow-circle-right"></i>&nbsp;&nbsp;Mantenimiento de Contadores</a></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h3 class='boton_activo'>
                        <a [routerLink]="['../impuestos']" class="menuPrincipalLink"><i class="fas fa-arrow-circle-right"></i>&nbsp;&nbsp;Mantenimiento de Impuestos</a></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h3 class='boton_activo'>
                        <a [routerLink]="['../categorias']" class="menuPrincipalLink"><i class="fas fa-arrow-circle-right"></i>&nbsp;&nbsp;Mantenimiento de Categorias de productos</a></h3>
                </div>
            </div>
        </div>

        <div class="col-sm-5">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class='boton_activo'>
                        <a [routerLink]="['../cuentasContables']" class="menuPrincipalLink"><i class="fas fa-arrow-circle-right"></i>&nbsp;&nbsp; Mantenimiento Cuentas Contables</a></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h3 class='boton_activo'>
                        <a [routerLink]="['../Medios']" class="menuPrincipalLink"><i class="fas fa-arrow-circle-right"></i>&nbsp;&nbsp; Mantenimiento Medios de Pago</a></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h3 class='boton_activo'>
                        <a [routerLink]="['../tipoDocumentos']" class="menuPrincipalLink"><i class="fas fa-arrow-circle-right"></i>&nbsp;&nbsp; Mantenimiento Tipo Documentos</a></h3>
                </div>
            </div>
        </div>
    </div>
</div>